<body>
  <div class="container">
      <div class="image-section">
      </div>
      <div class="text-section">
          <h1>SERVICIOS</h1>
          <p>🔶 Diseño, concepto y producción de nuevas joyas desde cero según la personalidad y el mensaje que quiera transmitir el cliente.</p>
          <p>🔶 Diseño y producción de joyas para las manos y el cuello, como collares, cadenas, pulseras. Producidas con el más alto detalle y dedicación.</p>
          <p>🔶 Diseño y desarrollo de adornos para el cabello, como tocados y diademas.</p>
      </div>
  </div>
</body>
