
<body>
    <header>
        <nav>
          <a href='./servicios'>SERVICIOS</a>
            <a href="./sesion">INICIAR SESIÓN</a>
            <a class="logo">LOUVRO</a>
            <a href="./acerca_de">ACERCA DE</a>
            <a href="#">CONTACTOS</a>
        </nav>
    </header>
    <main>
      <section class="hero">
          <div class="hero-content">
              <h1>Joyería delicada hecha a la medida</h1>
              <p>Porque todos merecemos cosas únicas</p>
              <button class="btn">CONTACTAR</button>
          </div>
      </section>
  </main>

    <footer>
        <p>&copy; 2024 Louvro Jewelry</p>
    </footer>

    <script src="script.js"></script>
</body>
